.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  background-color: $black-color;
  position: fixed;
  width: 100%;
  // box-shadow: 0 8px 28px 0 rgba(79, 79, 79, 0.75);
  box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.75);

  .container {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;

    .nav-primary {
      position: absolute;
      right: 8%;

      a {
        font-size: 20px;
        color: $white-color;
        text-decoration: none;
        margin-right: 40px;

        &:hover {
          color: $dark-color;
        }
      }
    }
  }

  img {
    width: 100%;
  }
}
