body {
  background-color: $black-color;
}

h1 {
  text-align: center;
  color: $dark-color;
  padding-top: 120px;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Roboto Mono", monospace;
}

h3 {
  font-family: "Roboto Mono", monospace;
}
